@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700|Ubuntu:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// global variables

$header: "Ubuntu", sans-serif;
$content: "Poppins", sans-serif;
$primary-color: #6537af;
$secondary-color: #303485;
$bg-color: #f9f9f9;
$light-header: #454545;

#OS {
  width: 100%;
  height: 100%;
  background: $bg-color;
  position: relative;
  overflow: hidden;
  // =================================
  // header
  // =================================
  header {
    width: 80%;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .logo {
      font-family: $header;
      font-size: 3rem;

      h1 {
        color: $primary-color;
        span {
          font-size: 1rem;
          margin-left: 10px;
        }
      }
    }
    .menu-bar {
      width: 13%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .cart {
        position: relative;
        cursor: pointer;
        width: 30px;
        height: 30px;
        img {
          width: 30px;
          height: 30px;
        }
        .item-numbers {
          position: absolute;
          top: -30%;
          right: calc(0% - 15px);
          color: #fff;
          width: 12px;
          height: 12px;
          background: red;
          border-radius: 50%;
          font-size: 8px;
          font-family: $content;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .nav-bar {
        cursor: pointer;
        width: 45px;
        height: 45px;
        img {
          width: 45px;
          height: 45px;
        }
      }
      .cart-for-smallsizes {
        position: fixed;
        top: 100px;
        left: 80%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border-radius: 50px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 400ms;

        img {
          width: 20px;
          height: 20px;
        }
        .alert {
          position: absolute;
          left: 95%;
          top: -5%;
          width: 15px;
          height: 15px;
          display: none;
        }
        .alert-active {
          display: block;
          animation: alert 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        }
        @keyframes alert {
          10%,
          90% {
            transform: translate3d(-1px, 0, 0);
          }

          20%,
          80% {
            transform: translate3d(2px, 0, 0);
          }

          30%,
          50%,
          70% {
            transform: translate3d(-4px, 0, 0);
          }

          40%,
          60% {
            transform: translate3d(4px, 0, 0);
          }
        }
      }
    }
  }
  // =================================
  // Items
  // =================================
  .items {
    height: calc(100% + 10rem);
    width: 90%;
    margin: 200px auto 150px auto;
    display: grid;
    align-items: center;
    justify-content: center;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-template-rows: repeat(auto-fill, 400px);
    gap: 10rem;

    .item {
      font-family: $content;
      width: 270px;
      background: #fff;
      height: 400px;
      border-radius: 12px;
      transition: box-shadow 400ms;

      img {
        display: block;
        margin: 0 auto;
        object-fit: cover;
        cursor: pointer;
      }
      h2 {
        font-weight: 700;
        font-size: 1rem;
        text-transform: capitalize;
        display: block;
        text-align: center;
        margin-bottom: 5px;
      }
      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 35%;

        .colors {
          display: flex;
          width: 50%;
          margin: 0 auto;
          justify-content: center;

          .option {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin: 0 7px;
            cursor: pointer;
            -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
          }
        }
        .price {
          font-weight: 700;

          span {
            margin-right: 7px;
            color: $primary-color;
            font-weight: 400;
            text-decoration: line-through;
          }
        }
        .add-to-cart {
          outline: none;
          font-weight: 300;
          width: 70%;
          margin: 0 auto;
          font-family: $content;
          background: $primary-color;
          border: none;
          color: #fff;
          padding: 7px 0;
          cursor: pointer;
          text-transform: capitalize;
          border-radius: 5px;
          transition: box-shadow 400ms;
          font-size: 1.1rem;
          &:hover {
            box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
          }
        }
      }

      &:hover {
        -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25);
      }
    }
  }
  // =======================================
  // cart-items
  // =======================================

  .cart-items {
    font-family: $content;
    position: fixed;
    top: 0;
    right: 0%;
    min-height: 100vh;
    width: 35%;
    background: #fff;
    z-index: 1;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    transition: transform 400ms;
    transform: translateX(110%);
    .container {
      .row-header {
        width: 50%;
        margin: auto;
        padding: 20px 0;
        img {
          width: 20px;
          height: 20px;
          position: absolute;
          top: 26.4px;
          left: 85%;
          transform: translateX(-85%);
          cursor: pointer;
        }
        h1 {
          font-family: $header;
          font-weight: 700;
          font-size: 28px;
          text-transform: uppercase;
          display: block;
          text-align: center;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            top: 130%;
            left: 25%;
            background: $light-header;
            width: 50%;
            height: 2px;
          }
        }
      }

      .row-items {
        color: $light-header;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        justify-content: space-between;
        padding: 10px 0;

        .cart-item:first-child {
          margin-top: 20px;
        }
        .cart-item {
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding: 20px 0;
          position: relative;
          align-items: center;

          .qty,
          .price {
            width: 100%;
            text-align: center;
          }
          .name {
            width: 100%;
            text-align: left;
            font-weight: 700;
          }
          .qty {
            #amount {
              width: 40px;
            }
          }
          .price {
            font-weight: 700;
          }
          .remove-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            img {
              width: 15px;
              height: 15px;
            }
          }
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            top: 0;
            left: 0;
            background: $light-header;
          }
        }
      }
      .remove-all {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .remove-all-btn {
          cursor: pointer;
          border-radius: 50px;
          background: #d95656;
          width: 20%;
          height: 25px;
          font-family: $content;
          border: none;
          outline: none;
          font-size: 10px;
          color: #fff;
          font-weight: 700;
        }
      }
      .total {
        display: block;
        text-align: center;
        color: $light-header;
        font-size: 20px;
        font-weight: 700;
        padding: 10px 0;

        .total-price {
          color: $primary-color;
        }
      }
      .purchase {
        padding: 20px 0 17% 0;
        text-align: center;
        .purchase-btn {
          width: 70%;
          outline: none;
          font-family: $content;
          background: $primary-color;
          border: none;
          color: #fff;
          padding: 7px 0;
          cursor: pointer;
          text-transform: uppercase;
          border-radius: 5px;
          transition: box-shadow 400ms;
          font-size: 1.1rem;
        }
      }
      .remove-cart {
        width: 100%;
        height: 7%;
        position: absolute;
        top: 93%;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(244, 244, 244, 0.6);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background 300ms;
        img {
          width: 15px;
          height: 15px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &:hover {
          background: #ebebeb;
        }
      }
    }
  }

  // =====================
  // cart-active
  // =====================
  .cart-active {
    transform: translateX(0%);
  }
  .page-trackers {
    margin: 30px auto;
    display: flex;
    width: 150px;
    height: 50px;
    justify-content: space-around;
    align-items: center;

    span {
      font-family: $content;
      font-size: 1.5rem;
      color: #000;
      font-weight: 700;
    }
    span,
    .left,
    .right {
      cursor: pointer;
    }
    svg {
      path {
        transition: opacity 100ms;
        opacity: 0.6;
      }
      &:hover path {
        opacity: 1;
      }
    }
  }
}
.successTitleClass {
  font-family: $content;
}
.warningTitleClass {
  font-family: $content;
  color: #dd2829;
}

// ====================
// media queries
// =====================

// normal tablet size
@media (min-width: 769px) and (max-width: 1024px) {
  #OS {
    header {
      .logo {
        font-size: 2.5rem;
      }
      .menu-bar {
        width: 17%;
      }
    }

    .items .item {
      -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25);
    }
    .cart-items {
      width: 50%;
      min-height: 50vh;
    }
  }
}
// small tablet size
@media (min-width: 481px) and (max-width: 768px) {
  #OS {
    header {
      flex-direction: column;
      align-items: center;
      .logo {
        padding: 15px;
        font-size: 2.5rem;
      }
      .menu-bar {
        width: 30%;

        .active-cart {
          opacity: 1;
          pointer-events: all;
          -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
          -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
          cursor: pointer;
        }
      }
    }
    .items .item {
      -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25);
    }
    .cart-items {
      width: 100%;
      min-height: 50vh;
      .container {
        .remove-cart {
          height: 10%;
          top: 90%;
        }
        .purchase {
          padding: 20px 0 25% 0;
        }
      }
    }
  }
}
// phone size
@media (max-width: 480px) {
  #OS {
    header {
      flex-direction: column;
      align-items: center;
      .logo {
        padding: 15px;
        font-size: 2rem;

        h1 span {
          display: none;
        }
      }
      .menu-bar {
        margin-top: 30px;
        width: 40%;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        .active-cart {
          opacity: 1;
          pointer-events: all;
          -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
          -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
          cursor: pointer;
        }
        .cart,
        .nav-bar {
          width: 25px;
          height: 25px;
          img {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
    .items {
      margin: 150px auto;
      gap: 6rem;
      .item {
        -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25);
        h2 {
          font-size: 14px;
        }

        .info .add-to-cart {
          font-size: 1rem;
        }
      }
    }
    .cart-items {
      width: 100%;
      min-height: 50vh;
      .container {
        .row-header {
          img {
            display: none;
          }
          h1 {
            font-size: 26px;
          }
        }
        .row-items {
          .cart-item {
            .qty,
            .name,
            .price {
              font-size: 14px;
            }
          }
        }
        .total p {
          font-size: 18px;
        }
        .remove-all .remove-all-btn {
          font-size: 8px;
        }
        .purchase {
          padding: 20px 0 25% 0;
          .purchase-btn {
            font-size: 1rem;
          }
        }
        .remove-cart {
          height: 10%;
          top: 90%;
        }
      }
    }
    .page-trackers span {
      font-size: 1.3rem;
    }
  }
}
